In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [15]:
df=pd.read_csv('winequality-red.csv',sep=';')

In [16]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [17]:
#input variables
X=df.values[:,:11]
#target output Quality
Y=df.values[:,[11]]

In [18]:
X

array([[ 7.4  ,  0.7  ,  0.   , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  3.42 ,  0.75 , 11.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  3.57 ,  0.71 , 10.2  ],
       [ 6.   ,  0.31 ,  0.47 , ...,  3.39 ,  0.66 , 11.   ]])

In [19]:
def pca(X,reduced_cols_cnt):
    
    X_meaned = X - np.mean(X , axis = 0)
    cov_mat = np.cov(X_meaned , rowvar = False)
    eigen_values , eigen_vectors = np.linalg.eigh(cov_mat)
    #sort the eigenvalues in descending order
    sorted_index = np.argsort(eigen_values)[::-1]

    sorted_eigenvalue = eigen_values[sorted_index]
    #similarly sort the eigenvectors 
    sorted_eigenvectors = eigen_vectors[:,sorted_index]
    #number of dimensions you want to reduced to
    eigenvector_subset = sorted_eigenvectors[:,0:reduced_cols_cnt]
    return np.dot(eigenvector_subset.transpose(),X_meaned.transpose()).transpose()

In [20]:
pca_X= pca(X,2)
pca_x_df = pd.DataFrame(pca_X , columns = ['RC1','RC2'])

In [21]:
pca_df=pd.concat([pca_x_df , pd.DataFrame(Y)] , axis = 1)

In [22]:
pca_df

            RC1        RC2    0
0     13.224905  -2.023900  5.0
1    -22.037724   4.408322  5.0
2     -7.162673  -2.501461  5.0
3    -13.430063  -1.951122  6.0
4     13.224905  -2.023900  5.0
...         ...        ...  ...
1594  -1.129111  16.313102  5.0
1595  -9.489984  21.627525  6.0
1596   3.431354  14.271243  6.0
1597  -1.132878  16.316167  5.0
1598   3.874377   3.126348  6.0

[1599 rows x 3 columns]